#
# Systemd unit file for Radarr
#

[Unit]
Description=Radarr Daemon

[Service]
Type=simple
User={{ radarr_user }}
Group={{ radarr_group }}
ExecStart={{ radarr_base_install_dir }}/Radarr/Radarr /data={{ radarr_config_dir }}
Restart=always
RestartSec=15
TimeoutStopSec=20

[Install]
WantedBy=multi-user.target
